/* .Count{
    background-color: aqua;
    padding: 20px;
}

.register{
    background-color: blueviolet;
    color: white;
    padding: 20px;
    
} */
/* .darkbox{
    background-color:blue ;
}

.fielduseState {
  margin: 500px;
  padding: 100px;
} */

/* uesref */
/* .image-box {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  background-color: aqua;
  cursor: pointer;
}
.image-img {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  /* background-color: aqua; */
  /* cursor: pointer; */
/* } */ 

/* useContext */
/* 
.light {
  padding: 20px;
  border: 5px solid black;
  background-color: white;
}
.black {
  padding: 20px;
  border: 5px solid red;
  background-color: rgb(0, 0, 0);
  color: white;
} */
/* 
routing */
/* 
.header {
  width: 100%;
  height: 10vh;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ServiceMenu{
   width: 100%;
  height: 10vh;
  background-color: rgb(182, 209, 28);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body{
  margin: 0;
  font-family: sans-serif;
  background-color:#f9fafb;
  color: #111827;
}

.linksStyle{
  background: #ffff;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.links{
  display: flex;
  gap: 30px;
}

.items{
  text-decoration: none;
  color: #4b5563;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}
.items:hover{
  color: #2563eb;
  background-color: #eff6ff;
}
.content{
  display: block;
  max-width: 1100px;
  margin: 3rem auto;
  padding: 0 2rem;
  min-height: 80vh;
}

.courses{
 display:flex;
 flex-direction: row;
 justify-content: center;
 gap: 15px;
 padding: 20px;
 flex-wrap: wrap;
 overflow: auto;
}

.linkco{
  text-decoration: none;
  background-color: #f1f5f9;
  color: #2563eb;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 0.9rem;
  white-space: nowrap;
  border: 1px solid;
  transition: all 0.3s ease;
}
.linkco:hover{
  background-color: #2563eb;
  color: white;
  transform: translate(-2px);
  box-shadow: 0 4px 12px rgba(37,99,235,0.2);
} */


/* Crud Operations */

.header{
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  border-radius: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h2{
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;

}

th{
  text-align: left;
  padding: 15px;
  color: #7f8c8d;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
td{
  padding: 8px;
  background: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  color: #2c3e50;
}

/* tr td :first-child{
  border-left: 1px solid #eee;
  border-radius: 8px 0 0 8px;

}
tr td :last-child{
  border-right: 1px solid #eee;
  border-radius: 0 8px 8px 0;
} */
/* tr:hover td{
  background: #fcfcfc;
} */
*{

}
.tableRow{
  background-color: #f7dbdb;

}

.form{
  gap: 15px;
  margin-bottom: 30px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
}

input{
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s;

}

button{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: transform 0.1s,opacty 0.2s;
}
.btn-edit{
  background-color: #dbbe4a;
  color: white;
  margin-right: 8px;
}
.btn-del{
  background-color: #fa412c;
  color: white;

}

.btn-add{
  background-color: #2b6bb4;
  color: white;
}
